{% extends "html/function.html" %}

{% block list %}
{% if function.list %}
<table class="field-list">
{% for key, element in function.list.items() %}
<tr><th class="field-name" colspan="2">{{ key.title() }}</th></tr>
<tr>
  <td class="field-body">
    <ul>
      {% if element is string %}
      <li>{{ element }}</li>
      {% else %}
        {% for entry in element %}
        <li><strong>{{ entry.name }}</strong> - {{ entry.doc }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
